*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: cener;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 100vh;
}

h1{
    text-transform: uppercase;
    margin: 10px;
}

#numeri{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 300px;
    aspect-ratio: 3;
    background-color: white;
    word-spacing: 3px;
    font-size: 30px;
    font-weight: 600;


}

.vinto-perso{
    margin-top: 10px;
    text-transform: uppercase;

}

.white{
    color: white;
}